<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   
    <div class="footer">
        <p class="foot-content" onclick="topfunction()">Back to top</p>
    </div>
    <div class="footer1">
        <div class="header">
            <p>Get to Know Us</p>
            <p>Connect with Us</p>
            <p>Make Money with Us</p>
            <p>Let Us Help You</p>
        </div>
     <div class="head1">
        <p class="head-1">About Amazon</p>
        <p class="head-2">Careers</p>       
        <p class="head-3">Press Releases</p>
        <p class="head-4">Amazon Science</p>
     </div>
       <div class="head2">
        <p class="head-5">Facebook</p>
        <p class="head-6">Twitter</p>       
        <p class="head-7">Instagram</p>
     </div>
     <div class="head3">
        <p class="head-8">	Sell on Amazon</p>
<p class="head-9">Sell under Amazon Accelerator</p>
<p class="head-10">Protect and Build Your Brand</p>
<p class="head-11">Amazon Global Selling</p>
<p class="head-12">Supply to Amazon</p>
<p class="head-13">Become an Affiliate</p>
<p class="head-14">Fulfilment by Amazon</p>
<p class="head-15">Advertise Your Products</p>
<p class="head-16">Amazon Pay on Merchants</p>
     </div>
     <div class="head4">
<p  class="head-17">Your Account</p>
<p  class="head-18">Returns Centre</p>
<p  class="head-19">Recalls and Product Safety Alerts</p>
<p  class="head-20">100% Purchase Protection</p>
<p  class="head-21">Amazon App Download</p>
<p  class="head-22">Help</p>
     </div>
    </div>
<div class="footer2">
    <div class="head5">Conditions of Use & Sale</div>
    <div class="head6">Privacy Notice</div>
    <div class="head7">Interest-Based Ads</div>
<div class="head8">© 1996-2026, Amazon.com, Inc. or its affiliates</div>
</div>
<script>
    function topfunction(){
        window.scrollTo({
            top:0,
            behavior:"smooth"
        })
    };
</script>
</body>
</html>